html, body, div#__next {
  height: 100%;
}

@font-face {
  font-family: "SometypeMono";
  src: url("../../public/fonts/SometypeMono-Medium.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SometypeMono";
  src: url("../../public/fonts/SometypeMono-Regular.woff");
  font-weight: 200;
}

@font-face {
  font-family: "SometypeMono";
  src: url("../../public/fonts/SometypeMono-Bold.woff");
  font-weight: 700;
}